body {
    color: #adb1bb;
    background: #504d83;
    margin: 20px;
   font-family: "chakra petch", sans-serif;


}



section {
    background: #040005;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}



.top5 {
    border-bottom: solid 7px rgb(138, 13, 132);
    border-top: solid 7px rgb(138, 13, 132);
    margin: 50px;
    padding: 10%;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}




.title {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}



.title1 {
    border-bottom: solid 7px rgb(33, 55, 114);
    margin: 50px;
    padding: 10%;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: 10px #3c85bd;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.biografiaLeonenilce {
    text-transform: #040005;
    text-align: center;
    color: #ffffff;
    margin: 10px;
    background: 10px #335f6d;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50;
    margin-right: 50;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}




.title2 {
    border-bottom: solid 7px rgb(114, 33, 110);
    margin: 50px;
    padding: 10%;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: 10px #ff76e8;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.biografiadobrino {
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    background: 10px #f889e6;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50;
    margin-right: 50;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}




.title3 {
    border-bottom: solid 7px rgb(156, 11, 35);
    margin: 50px;
    padding: 10%;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: 10px #b80606;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.Alanbiografia {
    color: #ffffff;
    text-align: center;
    margin: 10px;
    background: 10px #880f0f;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50;
    margin-right: 50;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}



.title4 {
    border-bottom: solid 7px rgb(136, 12, 119);
    margin: 50px;
    padding: 10%;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: 10px #be069694;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.biografiadoT3ddy {
    color: #ffffff;
    text-align: center;
    margin: 10px;
    background: 10px #4e066498;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50;
    margin-right: 50;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}




.title5 {
    border-bottom: solid 7px #001b24;
    margin: 50px;
    padding: 10%;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: 10px #003747;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.biografiadomount {
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    background: 10px #518fa1;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50;
    margin-right: 50;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}



.Agradecimentos {
    margin: 50px;
    padding: 10%;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    padding-bottom: 40px;
    padding-top: 40px;
}